<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MagdadMilbat">

    <!--    <uses-permission android:name="android.permission.CAMERA" />-->
    <!--
 Limits app visibility in the Google Play Store to ARCore supported devices
         (https://developers.google.com/ar/devices).
    -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MagdadMilbat">
        <activity
            android:name="talpiot.mb.magdadmilbat.ExrCalibChoiceScreen"
            android:exported="false"/>
        <activity
            android:name="talpiot.mb.magdadmilbat.calibPage"
            android:exported="false"/>
        <activity
            android:name="talpiot.mb.magdadmilbat.calibRelaxPage"
            android:exported="false"/>
        <activity
            android:name="talpiot.mb.magdadmilbat.ExercisePage"
            android:exported="true"/>
        <activity
            android:name="talpiot.mb.magdadmilbat.HistoryPage"
            android:exported="false" />
        <activity
            android:name="talpiot.mb.magdadmilbat.SettingsScalePage"
            android:exported="false" />
        <activity
            android:name="talpiot.mb.magdadmilbat.ExrChoiceScreen"
            android:exported="true"/>
        <activity
            android:name="talpiot.mb.magdadmilbat.SettingsChoiceScreen"
            android:exported="false"/>
        <activity
            android:name="talpiot.mb.magdadmilbat.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>